import java.io.*;
import java.util.*;

public class Main 
{
  public static void main(String[] args)throws Exception
	{
		File file1 = new File("input1.txt");
		File file2 = new File("input2.txt");
		List totalnumberofuniquenames = new ArrayList<node>();
		BufferedReader br1 = new BufferedReader(new FileReader(file1));
		BufferedReader br2 = new BufferedReader(new FileReader(file2));
		HashMap<String,List<node>> collegemap = new HashMap<String,List<node>>();
		HashMap<String,List<node>> studentmap = new HashMap<String,List<node>>();
		String line;
		while ((line = br1.readLine()) != null) 
		{
			StringTokenizer st = new StringTokenizer(line,", ");
			while(st.hasMoreElements())
			{
				String s = st.nextElement().toString();
				if(collegemap.containsKey(s))
				{
					node p = new node();
					p.name = st.nextElement().toString();
					p.rank = Integer.parseInt(st.nextElement().toString());
					List<node> l = collegemap.get(s);
					if(!totalnumberofuniquenames.contains(p.name))
					{
						totalnumberofuniquenames.add(p.name);
					}
					collegemap.remove(s);
					l.add(p);
					collegemap.put(s,l);
				}
				else
				{
					totalnumberofuniquenames.add(s);
					List<node> list1 = new ArrayList<node>();
					node p = new node();
					p.name = st.nextElement().toString();
					p.rank = Integer.parseInt(st.nextElement().toString());
					list1.add(p);
					collegemap.put(s,list1);
				}
			}
			line = null;
		}
	    line = null;
	    while ((line = br2.readLine()) != null) 
		{
			StringTokenizer st = new StringTokenizer(line,", ");
			while(st.hasMoreElements())
			{
				String s1 = st.nextElement().toString();
				if(studentmap.containsKey(s1))
				{
					node p = new node();
					p.name = st.nextElement().toString();
					p.rank = Integer.parseInt(st.nextElement().toString());
					List<node> l1 = studentmap.get(s1);
					studentmap.remove(s1);
					l1.add(p);
					studentmap.put(s1,l1);
				}
				else
				{
					List<node> list2 = new ArrayList<node>();
					node p = new node();
					p.name = st.nextElement().toString();
					p.rank = Integer.parseInt(st.nextElement().toString());
					list2.add(p);
					studentmap.put(s1,list2);
				}
			}
			line = null;
		}
	    int tot = totalnumberofuniquenames.size();
	    List newList = new ArrayList<String>();
	    Set college_set = collegemap.entrySet();
	    Set student_set = studentmap.entrySet();
	    Iterator i = college_set.iterator(); 
	    while(i.hasNext())
	    { 
	    	Map.Entry college = (Map.Entry)i.next(); 
	    	List<node> x = (List)college.getValue();
	    	for(node p : x)
	    	{
	    	    Iterator i1 = student_set.iterator(); 
	    	    while(i1.hasNext())
	    	    { 
	    	    	Map.Entry student = (Map.Entry)i1.next(); 
	    	    	List<node> y = (List)student.getValue();
	    	    	for(node q : y)
	    	    	{
	    	    		if((college.getKey().equals(q.name)) && (student.getKey().equals(p.name)) && p.rank == 1 && q.rank == 1)
	    	    		{
	    	    			
	    	    			if(newList.contains(college.getKey()) || newList.contains(student.getKey()))
	    	    			{
	    	    			}
	    	    			else
	    	    			{
	    	    				newList.add(college.getKey());
		    	    			newList.add(student.getKey());
	    	    				System.out.println(college.getKey()+" "+student.getKey());
	    	    			}
	    	    		}
	    	    	}
	    	    }
	    	}
	    }
	    
	    Iterator j = college_set.iterator(); 
	    int low =0,count = 0,flag = 0;
	    String str1 = null;
	    String str2 = null;
	    while(newList.size() != tot)
	    {
		    while(j.hasNext())
		    { 
		    	Map.Entry college = (Map.Entry)j.next(); 
		    	List<node> x = (List)college.getValue();
		    	for(node p : x)
		    	{
		    	    Iterator j1 = student_set.iterator(); 
		    	    while(j1.hasNext())
		    	    { 
		    	    	Map.Entry student = (Map.Entry)j1.next(); 
		    	    	List<node> y = (List)student.getValue();
		    	    	count = 0;
		    	    	low = 0;
		    	    	for(node q : y)
		    	    	{
		    	    		if(newList.contains(college.getKey()) || newList.contains(student.getKey()))
		    	    		{
		    	    			continue;
		    	    		}
		    	    		if(count == 0)
		    	    		{
		    	    			flag =1;
		    	    			low = q.rank;
		    	    			str1 = college.getKey().toString();
    	    					str2 = student.getKey().toString();
		    	    		}
		    	    		count++;
		    	    		if(p.name.equals(student.getKey()))
		    	    		{
		    	    			if(p.rank < q.rank)
		    	    			{
		    	    				if(q.rank <=low)
		    	    				{
		    	    					low = q.rank;
		    	    					flag = 1;
		    	    					str1 = college.getKey().toString();
		    	    					str2 = student.getKey().toString();
		    	    				}
		    	    			}
		    	    		}
		    	    	}
		    	    }
		    	    if(flag == 1)
	    	    	{
		    	    	newList.add(str1);
	    				newList.add(str2);
	    				System.out.println(str1+" "+str2);
	    				str1 = null;
	    				str2 = null;
	    				flag = 0;
	    	    	}
		    	}
		    }
	    }
	}
}
